.footer {
  &__content {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__logo {
    margin-bottom: 62px;
  }

  &__networks {
    margin-bottom: 70px;
    display: flex;
    gap: 46px;

    @include mobile {
      margin-bottom: 23px;
    }

    @include tablet {
      margin-bottom: 108px;
    }
  }

  &__TandCs {
    margin-bottom: 50px;
    text-align: center;
    color: #bdbdbd;
  }

  &__icon {
    position: absolute;
    right: 262px;
    bottom: 218px;
    height: 24px;
    width: 20px;
    @extend %transition;
    color: #333;

    @include mobile {
      right: 30px;
      bottom: 160px;
    }

    @include tablet {
      right: 48px;
      bottom: 296px;
    }

    &:hover {
      color: $colorGreen;
      transform: scale(115%);
    }
  }

  &__network {
    width: $socials-size;
    height: $socials-size;
    @extend %transition;
    color: #4f4f4f;

    &--facebook {
      &:hover {
        color: #3b5998;
      }
    }
    &--twitter {
      &:hover {
        color: #00acee;
      }
    }
    &--instagram {
      &:hover {
        color: #b16c4f;
      }
    }
  }
}
