.icon {
  display: block;
  width: $icon-size;
  height: $icon-size;

  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  @extend %transition;

  &--menu {
    @include mobile {
      width: 24px;
      height: 14px;
      background-image: url(../images/mobile_menu.svg);
    }

    &:hover {
      background-image: url(../images/menu_hover.svg);
    }
  }

  &--backward {
    background: url(../images/arrowforward.svg) no-repeat center;
    transform: rotate(180deg);
  }

  &--forward {
    background: url(../images/arrowforward.svg) no-repeat center;
  }

  &--design {
    background-image: url(../images/design.svg);

    @include mobile {
      width: 58px;
      height: 46px;
    }
  }
  
  &--speaker {
    background-image: url(../images/speaker.svg);
  }

  &--wifi {
    background-image: url(../images/wifi.svg);
  }

  &--lighting {
    background-image: url(../images/lighting.svg);
  }

  &--cross {
    width: 24px;
    height: 14px;
    background-image: url(../images/cross.svg);

    &:hover {
      transform: rotate(90deg);
    }
  }
}
